<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mapper.TestMapper">

    <insert id="addTest" parameterType="com.ming.bean.Test">
        <foreach collection="list" item="te" separator=";">
            insert into test(id,name)
            values(#{te.id},#{te.name})
        </foreach>

    </insert>
    <select id="select" resultType="com.ming.bean.Test">
        SELECT
        DATE_FORMAT( time, '%Y-%m-%d' ) AS groupTime,
        DATE_FORMAT( time, '%H' ) AS dateTime,
        round(money , 2 ) AS dataValue
        FROM
        test
        WHERE
        DATE_FORMAT( time, '%Y-%m-%d' ) <![CDATA[ = ]]>  '2023-04-20'
        GROUP BY
        dataValue,
        DATE_FORMAT( time, '%Y-%m-%d' ),
        DATE_FORMAT( time, '%H' )
        ORDER BY
        DATE_FORMAT( time, '%Y-%m-%d' ),
        DATE_FORMAT( time, '%H' );
    </select>

    <select id="getList" resultType="com.ming.bean.Test">
        SELECT
        SUM( t.money ) AS dataValue,
        DATE_FORMAT( t.time, '${resDate}' ) AS dateTime
        FROM
        test t
        WHERE
        DATE_FORMAT( t.time, '${queryDate}' ) = #{localDate}
        GROUP BY
        DATE_FORMAT( t.time, '${resDate}' )
        ORDER BY
        DATE_FORMAT( t.time, '${resDate}' ) ASC;
    </select>
</mapper>